@page

@{
    ViewData["Title"] = "Actividades";
}
<h1>@ViewData["Title"]</h1>

<p>Instituto Sueperior de Profesorado N°20</p>
<h3>Torneo de Ajedrez</h3>
<img src="~/img/imagenAjedrez.jpg" alt="Alternate Text" />
<p>En el marco de sus 35 años de trayectoria, el Instituto invita al Torneo de Ajedrez, Copa Instituto Superior de 
    Profesorado N°20 “Senador Néstor Zamaro”. El mismo, es organizado por el Círculo de Ajedrez de San Justo y la
    Biblioteca Popular Mariano Moreno y  se desarrollará el próximo 4 de mayo en el SUM de la institución “Don Horacio
    José Grosso”, desde las 14 hs.
</p>
<p>Inscripción: $500.</p>
<p>Modalidad: Blitz 5m +3´.</p>
<p>Premiación:</p>
<ul>
    <li>Campeón Copa Aniversario.</li>
    <li>Mejor terna Instituto.</li>
    <li>Mejor terna Juvenil.</li>
    <li>Mejor terna infantil.</li>
</ul>
<p>Se invita a todos los interesados, sumarse a la propuesta.</p>
<p>Referente Institucional: Prof. Juan Pablo Gaido.</p>