@page
@model IndexModel
@{
    ViewData["Title"] = "ISP20";
}

<div class="text-center">
    <h1 class="display-4">Instituto de Profesorado N°20</h1>
    <img src="~/img/imagePagina.png" alt="Alternate Text" width="1000" height="300"/>
    <p>Página Instituto</p>
    <a href="https://isp20.edu.ar"><img src="~/img/imageLogo.png" alt="Alternate Text" width="50" height="50"/></a>
</div>
