@page
@model PrivacyModel
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Proyecto de cátedra Base de Datos II.</p>
<h3>3er año Tecnicatura Superioer en Desarrollo de Software</h3>
<img src="~/img/imageLogo.png" alt="Alternate Text" />
